.dynamic-table table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.dynamic-table th {
    padding: 12px 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.dynamic-table td {
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    white-space: nowrap;
}

.dynamic-table__content tr:nth-child(even) td {
    background-color: var(--second-white-color);
}

.dynamic-table tbody tr:nth-child(even) td {
    background-color: var(--second-white-color);
}

.dynamic-table{
    overflow-x: auto;
}

.input-field {
    width: calc(55% - 5px);
    padding: 6px 10px;
    border: transparent;
    background-color: var(--white-color);
    transition: border-color 0.2s;
}

.input-field:focus {
    outline: none;
    border-color: var(--secondary-color);
}

.info-header {
    padding: 8px 15px;
    background-color: var(--second-white-color);
    border-bottom: 2px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-btn {
    padding: 4px;
    margin: 0 2px;
    border-radius: 4px;
    font-size: 12px;
}

.summary-box {
    border-top: 2px solid var(--black-color);
}

.input-title {
    width: calc(45% - 5px);
    max-width: 150px;
}

.form-invoice {
    width: calc(100% / 2 - 5px);
}

.form-row {
    min-height: 31px;
}

.form-group {
    background-color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    padding-left: 5px;
}

.input-title {
    font-size: calc(var(--font-size-base) - 4px);
}

.btn-action__custom {
    border: 1px solid var(--secondary-color);
}

.btn-action__custom:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
}

.total-amount,
.total-label{
 font-size: calc(var(--font-size-base) - 4px);
}  