  <div class="container-l footer-border__bottom footer-bottom__container flex center-hor flex-wrap gap-20 jus-sb">
            <div class="flex-wrap footer-menu__container flex gap-20 flex-1 jus-sb padding-10">
                <div class="footer-menu flex flex-col gap-10">
                    <h3 class="bold uppercase pos-rel ">Thông Tin Liên Hệ</h3>
                    <div class="title-border-bottom"></div>
                    <div class="flex flex-col gap-10 ">
                        <p><strong>CÔNG TY TNHH TƯ VẤN THUẾ [TÊN CÔNG TY]</strong></p>
                        <p>Mã số thuế: 0123456789</p>
                        <p>Địa chỉ: Số XX, Đường YY, Phường ZZ, Quận/Huyện, Tỉnh/TP</p>
                    </div>
                </div>

                <div class="footer-menu flex flex-col gap-10">
                    <h3 class="bold uppercase pos-rel ">Dịch Vụ Kế Toán - Thuế</h3>
                    <div class="title-border-bottom"></div>
                    <div class="flex flex-col gap-10">
                        <a href="javascript:void(0)" class="">Dịch vụ Báo cáo thuế trọn gói</a>
                        <a href="javascript:void(0)" class="">Quyết toán thuế TNCN / TNDN</a>
                        <a href="javascript:void(0)" class="">Lập Báo cáo tài chính cuối năm</a>
                        <a href="javascript:void(0)" class="">Tư vấn thành lập doanh nghiệp</a>
                        <a href="javascript:void(0)" class="">Dịch vụ Hoàn thuế GTGT</a>
                    </div>
                </div>

                <div class="footer-menu flex flex-col gap-10">
                    <h3 class="bold uppercase pos-rel ">Về Công Ty</h3>
                    <div class="title-border-bottom"></div>
                    <div class="flex flex-col gap-10">
                        <a href="javascript:void(0)" class="">Về chúng tôi</a>
                        <a href="javascript:void(0)" class="">Bảng giá dịch vụ</a>
                        <a href="javascript:void(0)" class="">Chính sách bảo mật thông tin</a>
                        <a href="javascript:void(0)" class="">Điều khoản sử dụng dịch vụ</a>
                    </div>
                </div>

                <div class="footer-menu flex flex-col gap-10">
                    <h3 class="bold uppercase pos-rel ">Hỗ Trợ Khách Hàng</h3>
                    <div class="title-border-bottom"></div>
                    <div class="flex flex-col gap-10">
                        <a href="javascript:void(0)" class="">Hướng dẫn sử dụng dịch vụ</a>
                        <a href="javascript:void(0)" class="">Câu hỏi thường gặp</a>
                        <a href="javascript:void(0)" class="">Liên hệ hỗ trợ</a>
                        <a href="javascript:void(0)" class="">Phản hồi của khách hàng</a>
                    </div>
                </div>



            </div>
        </div>

        <div class="container-f flex center-hor center-ver copyright-padding">
            <p class="text-center ">
                © 2026 Bản quyền nội dung thuộc về CÔNG TY TNHH TƯ VẤN THUẾ [TÊN CÔNG TY]
            </p>
        </div>