<div class="container-l  flex pos-rel header-bottom jus-sb">
            <div class="flex header-bottom__menu center-ver">
                <div class="header-bottom__item flex center-hor pos-rel">
                    <a class="bold " href="javascript:void(0)">Xuất hóa đơn ▾</a>
                    <div class="dropdown-menu pos-abs bg-white flex-col">
                        <a class="dropdown-item padding-10 text-nowrap" href="javascript:void(0)">Hóa đơn bán hàng</a>
                        <a class="dropdown-item padding-10 text-nowrap" href="javascript:void(0)">Hóa đơn dịch vụ</a>
                        <a class="dropdown-item padding-10 text-nowrap" href="javascript:void(0)">Hóa đơn khác</a>
                    </div>
                </div>
                <div class="header-bottom__item flex center-hor">
                    <a class="bold " href="javascript:void(0)">Phiếu thu công nợ</a>
                </div>
                <div class="header-bottom__item flex center-hor">
                    <a class="bold " href="javascript:void(0)">Danh sách công nợ</a>
                </div>
                <div class="header-bottom__item flex center-hor">
                    <a class="bold " href="javascript:void(0)">Tổng hợp công nợ</a>
                </div>
                <div class="header-bottom__item flex center-hor">
                    <a class="bold " href="javascript:void(0)">Khách hàng</a>
                </div>
                <div class="header-bottom__item flex center-hor">
                    <a class="bold " href="javascript:void(0)">Cấu hình</a>
                </div>
            </div>
            <div class="menu-mobile__btn">
                <img class="img-content" src="./img/icon/bars.svg" alt="Menu Icon">
            </div>
            <div class="menu-mobile pos-abs bg-secondary flex-col z-index-3">
                <a class="text-left menu-mobile__item padding-10 text-nowrap" href="javascript:void(0)">Xuất hóa
                    đơn</a>
                <div class="menu-mobile__child bg-white flex flex-col">
                    <a class="menu-mobile__child-item padding-10 text-nowrap text-left" href="javascript:void(0)">Hóa đơn bán hàng</a>
                    <a class="menu-mobile__child-item padding-10 text-nowrap text-left" href="javascript:void(0)">Hóa đơn dịch vụ</a>
                    <a class="menu-mobile__child-item padding-10 text-nowrap text-left" href="javascript:void(0)">Hóa đơn khác</a>
                </div>
                <a class="text-left menu-mobile__item padding-10 text-nowrap" href="javascript:void(0)">Phiếu thu công
                    nợ</a>
                <a class="text-left menu-mobile__item padding-10 text-nowrap" href="javascript:void(0)">Danh sách công
                    nợ</a>
                <a class="text-left menu-mobile__item padding-10 text-nowrap" href="javascript:void(0)">Tổng hợp công
                    nợ</a>
                <a class="text-left menu-mobile__item padding-10 text-nowrap" href="javascript:void(0)">Khách hàng</a>
                <a class="text-left menu-mobile__item padding-10 text-nowrap" href="javascript:void(0)">Cấu hình</a>
            </div>
        </div>